{
    "Statement" : [
      {
        "Action" : "sts:AssumeRole",
        "Effect" : "Allow",
        "Principal" : {
          "Service" : "states.${region}.amazonaws.com"
        }
      }
    ],
    "Version" : "2012-10-17"
  }