{
    "Version": "2012-10-17",
    "Statement": [
      {
        "Action": [
          "SNS:GetTopicAttributes",
          "SNS:SetTopicAttributes",
          "SNS:AddPermission",
          "SNS:RemovePermission",
          "SNS:DeleteTopic",
          "SNS:Subscribe",
          "SNS:ListSubscriptionsByTopic",
          "SNS:Publish"
        ],
        "Effect": "Allow",
        "Resource": "${resource_arn}"
      }
    ]
}